@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00A7FF;
    margin: 0px;
}
header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #B3E4FF;
    padding: 5px;
    margin: 0px;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.397);
}

nav {
    padding: 5px;
    background-color: #00A7FF;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.205);
}

nav > a {
    text-decoration: none;
    color: white;
    width: 150px;
    margin-right: 0px;
    font-size: 1em;
    display: inline-block;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.692);
}
nav > a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
    background-color: rgba(5, 105, 255, 0.493);
}
main{
    background-color: #B3E4FF;
    padding: 15px;
    margin: 15px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.397);
    
}
article{
    background-color: #c9ecff;
    color: #000000;
    padding: 15px;
    font-size: 1.5em;
}

article > aside {
    background-color: #386780;
    
}

footer{
    background-color: #1b3949;
    text-align: center;
    color: #00A7FF;
    padding: 8px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}

